
<h1>About Quacker</h1>
This a "twitter" clone by <a href="http://otherwhitenoise.com">BardCoder</a> (Daniel Lewis Randall).
<br/>
<br/>
Created and tested using:
<br/>
<table>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Languages</td>
		<td>Ruby on Rails, HTML, CSS, JavaScript, AJAX</td>
	</tr>
	<tr>
		<td>Coding</td>
		<td>TextMate, XCode, DashCode</td>
	</tr>
	<tr>
		<td>Debugging</td>
		<td>FireBug (FireFox)</td>
	</tr>
	<tr>
		<td>Gems</td>
		<td>gravatar_image_tag, will_paginate, sqlite3-ruby, rspec-rails, rspec, factory_girl_rails, annotate-models, webrat, faker</td>
	</tr>
	<tr>
		<td>Source Control</td>
		<td><a href="https://github.com/">GitHub</a></td>
	</tr>
	<tr>
		<td>Rails Hosting</td>
		<td><a href="http://heroku.com/">Heroku</a></td>
	</tr>
	<tr>
		<td>OS</td>
		<td>Mac OSX (Snow Leopard)</td>
	</tr>
	<tr>
		<td>Hardware</td>
		<td>Mac mini, MacBook Air</td>
	</tr>
	<tr>
		<td>Books</td>
		<td><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails 3 Tutorial</a>, 
			<a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0470258225.html">Ruby on Rails Bible</a></td>
	</tr>
</table>
The source code is available on <a href="https://github.com/DanielLewisRandall/quacker">GitHub</a>. 
			
