<tr>
  <td class="micropost">
    <span class="content"><%= wrap(micropost.content) %></span>
    <span class="timestamp">
      Quacked <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
  </td>
  <td class="options">
    <%= link_to "X", micropost, :method => :delete,
                                :confirm => "You sure?",
                                :title => "unQuack",
 																:class => "delete" %>
  </td>
</tr>
